{% extends "base.html" %}

{% block content %}

<h1 alight="center">Новости</h1>
<!--это объект из news=news-->
{% for item in news %}
<div class="col border rounded">
<!--    все записи целиком, целиком будет выдавать строку-->
    <h2> {{ item.title }}</h2>
    <div class="h5" > {{ item.content }} </div>
    <div class="h5"> {{ item.user.name }} - {{ item.created_date.strftime('%d-%m-%Y %H-%M') }} </div>
    {% if current_user.is_authenticated and current_user == item.user %}
        <a href="/news/{{item.id}}" class="btn btn-warning">Изменить</a>&nbsp; &nbsp;
        <a href="/news_del/{{item.id}}" title="Удалить новость: &laquo; {{item.title}}&raquo;"
           class="btn btn-danger"
           onclick="return confirm('Вы действительно хотите удалить новость &laquo; {{item.title}}&raquo;?')">Удалить</a>
    {% endif %}
<br><br>


</div>
{% endfor %}
{% if current_user.is_authenticated %}
    <br><a href="news" class="btn btn-secondary">Добавить новость</a>


{% endif %}
{% endblock %}

